<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Placeholder - Puntuaciones</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="puntuaciones.css">
</head>
<body>
  <div class="capa_oscura"></div>
  <div class="contenedor_puntuaciones">
    <h1>Puntuaciones</h1>
    <div class="contenedor_tabla">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Jugador</th>
            <th>Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jugador1</td>
            <td>15000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jugador2</td>
            <td>12000</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jugador3</td>
            <td>11000</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Jugador4</td>
            <td>9000</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Jugador5</td>
            <td>8000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="boton_regresar btn" onclick="window.location.href='menu_inicial.html'">Regresar</button>
  </div>
</body>
</html>