<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Placeholder - Menú Inicial</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="menu_inicial.css">
</head>
<body>
  <div class="capa_oscura"></div>
  <div class="contenedor_menu container">
    <div class="caja_menu">
      <h1>Placeholder</h1>
      <button class="boton_menu boton_iniciar btn btn-lg btn-block" type="button" onclick="window.location.href='pantalla.html'">Iniciar el Juego</button>
      <button class="boton_menu boton_configurar btn btn-lg btn-block" type="button" onclick="window.location.href='configuracion.html'">Configuración</button>
      <button class="boton_menu boton_salir btn btn-lg btn-block" type="button" onclick="window.location.href='incio_sesion.html'">Salir</button>
    </div>
  </div>
</body>
</html>