<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Placeholder - Pausa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="pausa.css">
</head>
<body>
  <div class="capa_pausa">
    <div class="menu_pausa">
      <h1>PAUSA</h1>
      <button class="boton_continuar">Continuar</button>
      <button class="boton_configurar">Configuración</button>
      <button class="boton_salir">Salir</button>
    </div>
  </div>
</body>
</html>